<div> 
    <%= image_tag @user.image, size: '120x120'%><%= @user.name %>@<%= @user.nickname%> 
    <hr> 
    <div> 
        <span>フォロー<%=link_to @user.followings.length, "/#{@user.nickname}/followings"%></span> 
        <span>フォロワー<%=link_to @user.followers.length, "/#{@user.nickname}/followers" %></span> 
    </div>   
    <% unless current_user == @user %> 
        <% if current_user.following?(@user) %> 
            <%= form_with model:current_user.active_relationships.find_by(followed_id: @user.id), method: "delete"  do |f| %> 
            <%= hidden_field_tag :followed_id, @user.id %> 
            <%= f.submit 'Unfollow'%> 
            <% end %> 
        <% else %> 
            <%= form_with model:current_user.active_relationships.new  do |f| %> 
            <%= hidden_field_tag :followed_id, @user.id %> 
            <%= f.submit 'Follow' %> 
            <% end %> 
        <% end %> 
    <% end %> 
    <%if @tweets %> 
        <%@tweets.each do |tweet|%> 
            <%= render 'layouts/tweet',tweet: tweet %> 
        <%end%> 
    <%end%> 
</div> 