<div><%= image_tag tweet.user.image,size: "60x60" %><%= link_to tweet.user.name ,"/#{tweet.user.nickname}"%></div> 
<div><%=tweet.content%></div> 
<small><%=tweet.created_at%></small> 
<% if tweet.user_id==current_user.id %> 
    <span><%= link_to '削除', "/tweets/#{tweet.id}",  data:{turbo_method: :delete} %></span> 
<% end %> 
<span><%=link_to "reply(#{tweet.reply_tweets.length})","/tweets/#{tweet.id}"%></span> 
<hr> 